body{
   margin: 0;
   padding:0;
   font-family:sans-serif,Arial;
   box-sizing: border-box;
   background-color: rgb(62, 63, 63);
}

.card{
   width: 90%;
   max-width:  470px;
   background: linear-gradient(120deg,#ceebc0,#2c27a5);
   color: #fff;
   margin: 100px auto 0;
   border-radius: 20px;
   padding: 40px 35px;
   text-align: center;
}

.search{
   width:100%;
   display: flex;
   align-items: center;
   justify-content: space-between;  
}

.search-input{
   border:0;
   outline:0;
   background: #ffffff;
   color: #4e4c47;
   padding: 10px 25px;
   height: 60px;
   border-radius: 30px;
   flex: 1;
   margin-right: 16px;
   font-size: 18px;
}

.search-button{
   border:0;
   outline:0;
   background-color: #ebfffc;
   padding:7px;
   border-radius: 55%;
   width:60px;
   height:60px;
   cursor:pointer;
}

.search-image-icon{
   width:16px;
}

.weather-icon{
   width:170px;
   margin-top:30px;
}

.temp{
   font-size:30px;
   font-weight: 400;
}

.feels-like{
   font-size:30px;
   font-weight: 400;
   margin-top: -10px;
}

.city{
   font-size:30px;
   font-weight: 400;
   margin-top:-10px
}

.details{
   display:flex;
   align-items: center;
   justify-content: space-between;
   padding: 0 30px;
   margin-top:60px;
}

.col{
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: left;
}

.col-image{
   width:60px;
   margin-right:10px
}

.humidity,.wind{
   font-size:20px;
   margin-bottom: -10px;
}

.weather{
   display:none;
}

.error{
   text-align:left;
   margin-left:10px;
   font-size: 24px;
   margin-top:10px;
   display: none;
   color:black;
}